//Define the custom font location
@at-root {
  // Import the fonts
  @font-face {
    font-family: 'Roboto Slab Bold';
    src: url($font-path + 'RobotoSlab-Bold.ttf') format('truetype');
  }
}
@at-root {
  // Import the fonts
  @font-face {
    font-family: 'Roboto Slab Regular';
    src: url($font-path + 'RobotoSlab-Regular.ttf') format('truetype');
  }
}

.logo-wealthstation{
  color: #D2F5FF;
}
.logo-planadvisor{
    color: white;
}


a {
  color: $link-color;
  text-decoration: none;
  outline: 0 none;
}
a:focus,
a:hover,
a:active {
  outline: 0 none;
  text-decoration: none;
  color: $link-hover-color;
}

// Within heading, strip any `h*` tag of its default margins for spacing.
.panel-title {
  font-size: ceil(($font-size-base * 1.42)); //ceil(($font-size-base * 1.125));
  color: $text-color; //inherit;
}


.input-group-full-width{
    width: 100%;
}

h1, .h1 { font-family: $font-family-bold; }

#pcont {
    @include gradient-vertical(#F4F4F4, #E0EEF2, 0%, 100%);
    .btn-default, .btn-primary{
        margin: 15px;
        border: 2px solid; 
        padding: 15px 50px 15px 50px
    }
    @media (min-width: $screen-sm-max){
        .cl-mcont{
            padding-left: 80px; 
            padding-right: 80px;
        }
    }
}

.btn {
  &.disabled,
  &[disabled],
  fieldset[disabled] & {
        opacity: .30 !important;
        // IE8 filter
        $opacity-ie: (.30 * 100);
        filter: alpha(opacity=$opacity-ie)  !important;
  }
}

@if ($navbar-default-use-gradient) {
    .navbar-default {
        @include gradient-horizontal($navbar-default-bg, $navbar-default-bg-endcolor, 0%, 100%);
    }
} 

.cl-mcont {
    background: none;
    background-color: transparent !important;
}

.font-family-bold{
    font-family: $font-family-bold;
}

.glyphicon.glyphicon-one-fine-full-dot {
    margin-bottom: .15em;
    overflow: hidden;
    margin-right: 5px;
}
.glyphicon.glyphicon-one-fine-full-dot:before {
    content:"\25cf";
    font-size: 1em;
}

.full-dot-primary{
    color: $brand-primary;
}

.full-dot-success{
    color: $brand-success;
}

.full-dot-info{
    color: $brand-info;
}

.full-dot-warning{
    color: $brand-warning;
}

.full-dot-danger{
    color: $brand-danger;
}

.table-borderless tbody tr td, .table-borderless tbody tr th, .table-borderless thead tr th {
    border: none;
}

.borderless, .borderless li {
    border: none !important;
}

.navbar-nav {
    > .active > a {
        &,
        &:hover,
        &:focus {
        font-family: $font-family-bold;
        background:-webkit-linear-gradient(top, rgba(255, 255, 255, 0), rgba(255, 255, 255, .3))  !important;
        background: -moz-linear-gradient(top, rgba(255, 255, 255, 0), rgba(255, 255, 255, .3) )  !important;
        background: -ms-linear-gradient(top, rgba(255, 255, 255, 0), rgba(255, 255, 255, .3) )  !important;
        background: -o-linear-gradient(top, rgba(255, 255, 255, 0), rgba(255, 255, 255, .3) )  !important;
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, .3) )  !important;
        }
    }
    // background color for open dropdown
    > .open > a {
      &,
      &:hover,
      &:focus {
        font-family: $font-family-bold;
        background:-webkit-linear-gradient(top, rgba(255, 255, 255, 0), rgba(255, 255, 255, .3) 100%)  !important;
        background: -moz-linear-gradient(top, rgba(255, 255, 255, 0), rgba(255, 255, 255, .3) 100%)  !important;
        background: -ms-linear-gradient(top, rgba(255, 255, 255, 0), rgba(255, 255, 255, .3) 100%)  !important;
        background: -o-linear-gradient(top, rgba(255, 255, 255, 0), rgba(255, 255, 255, .3) 100%)  !important;
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, .3) 100%)  !important;

      }
    }
}